.main-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  color: #fff;
}

.marvelix-brand {
  background-color: #f0131e;
  font-weight: 600;
}

.button-profile {
  background-color: #ff8b00;
  color: #fff;
  margin-right: 10px;
}

.button-confirmation {
  background-color: #35b535;
  color: #fff;
}
