.page-container {
  max-width: 1250px;
  margin: 0 auto;
}

.profile-page {
  color: #fff;
  margin: 5px 16px;
}

.fave-movies-container {
  margin-top: 20px;
}

.fave-movies-header {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px 16px;
}

.card {
  color: #fff;
  background-color: #266ef6;
  width: 16rem;
  margin-bottom: 30px;
}

.card-header {
  width: 256px;
  height: 50px;
  display: flex;
  align-items: center;
}

.card-image {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 326px;
  margin: 0 auto;
}

.card-actions {
  display: flex;
  justify-content: space-around;
}

.button-profile {
  background-color: #ff8b00;
  color: #fff;
  margin-right: 10px;
}

.update-container {
  background-color: #000;
}

.update-header {
  color: #fff;
}

.update {
  max-width: 250px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.card-actions {
  display: flex;
  justify-content: space-around;
}

.mat-expansion-panel-header-title {
  color: #fff;
}

.mat-expansion-panel-header-description {
  color: #fff;
}
